<div class="container-fluid">
    <h1 class="text-center text-Primary" style="font-family:"HelveticaNeue-Light", "Helvetica Neue", Calibri, Helvetica, Arial, sans-serif">
        <strong> <span class="img-circle"><i class="fa fa-cutlery"></i> </span> Welcome to our Restaurant</strong>
    </h1>
      <p>Click on the link to display</p>
    <div class="row">
      <a ui-sref='items'><strong>Menu Item</strong></a>&nbsp;
      <a ui-sref='categories'><strong>Menu Category</strong></a>
    </div>


</div>
