<!doctype html>
<html lang="en" ng-app='ShoppingListCheckOff'>
  <head>
    <title>Shopping List Check Off</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="styles/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="styles/app.css">
    <script src="js/angular.min.js"></script>
    <script src="js/app.js"></script>
  </head>
<body>
  <div class="container">
  <h1 align='center' style="background-color: #337ab7; border-radius:30px; color:#ffffff">Shopping List Check Off</h1>

  <div class="row">
    <div class="card" ng-controller='ToBuyController as toBuy'>
    <!-- To Buy List -->
    <div class="well col-md-offset-2 col-md-4" style="background-color:#B2EBF2; border-radius:42px;">
     <h2 class="text-info" >To Buy <i class="fa fa-shopping-basket"></i>:</h2>
     <ul>
       <li ng-repeat='item in toBuy.availableItems'>
         Buy {{item.quantity}} - {{item.name}}
         <button type="button" class="btn btn-md btn-success" ng-click='toBuy.buyItem($index);'>Buy<i class="fa fa-check"></i></button>
       </li>

     </ul>

     <div class="emptyMessage" ng-if='toBuy.availableItems.length == 0' align='center'>Everything is bought!</div>
    </div>
    </div>

    <div class="card" ng-controller='AlreadyBoughtController as alreadyBought'>
      <!-- Already Bought List -->
    <div class="well col-md-offset-2 col-md-4" style='background-color:#DCEDC8; border-radius:35px;'>
         <h2 class="text-success">Already Bought <i class="fa fa-shopping-bag"></i>:</h2>
          <ul>
            <li ng-repeat='goods in alreadyBought.boughtItems'>
              Bought {{goods.quantity}} - {{goods.name}}
            </li>
          </ul>
         <div class="emptyMessage" ng-if='alreadyBought.boughtItems.length == 0' align='center'>Nothing bought yet.</div>
    </div>
    </div>
  </div>
</div>

</body>
</html>
